
body {
  background-color: #E8ECEF;
}

#white-a {
  color: #fff;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
